<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="ISO-8859-1"/>
	<link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
	<title>NeighborhoodAssurance.com</title>
	
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<br/>
	Search to find out about your desired location...
	<form action="#" th:action="@{/searchResults}" method="GET">
		<input type="text" name="searchTerm" placeholder="Test: Search for OH"/>
		<button name="submit" type="submit" value="0">Submit</button>
	</form>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
