<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="searchresults.css" />
	<title>Neighborhood Assurance</title>
</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-dark">
	  		<a class="navbar-brand" href="home">Neighborhood Assurance</a>
	  		<form class="form-inline" action="#" th:action="@{/about}" method="GET">
	  			<button type="submit" name="goToAbout" value="0">About</button>
	  		</form>
		</nav>
	</div>
	
	<div class="container-md">
		<p th:each="CrimeData : ${CrimeDataByState}">
		 	State ID: <span th:text="${CrimeData.stateId}"></span><br/>
		 	State Abbreviation: <span th:text="${CrimeData.stateAbbreviation}"></span><br/>
		 	Year: <span th:text="${CrimeData.year}"></span><br/>
		 	Population: <span th:text="${CrimeData.population}"></span><br/>
		 	Violent Crimes Committed: <span th:text="${CrimeData.violentCrime}"></span><br/>
		 	Homicides: <span th:text="${CrimeData.homicide}"></span><br/>
		 	Rape Legacy: <span th:text="${CrimeData.rapeLegacy}"></span><br/>
		 	Rape Revised: <span th:text="${CrimeData.rapeRevised}"></span><br/>
		 	Robberies: <span th:text="${CrimeData.robbery}"></span><br/>
		 	Aggravated Assaults: <span th:text="${CrimeData.aggravatedAssault}"></span><br/>
		 	Property Crimes: <span th:text="${CrimeData.propertyCrime}"></span><br/>
		 	Burglaries: <span th:text="${CrimeData.burglary}"></span><br/>
		 	Larcenies: <span th:text="${CrimeData.larceny}"></span><br/>
		 	Car Thefts: <span th:text="${CrimeData.motorVehicleTheft}"></span><br/>
		 	Cases of Arson: <span th:text="${CrimeData.arson}"></span>
		</p>
	</div>
</body>

</html>